<nav>
<h2><%= link_to "Eric Reyes", root_path %></h2>
<ul>
  <li>
    <a href="https://github.com/erey6"
      ><i class="fab fa-github fa-lg"></i
    ></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/eric-reyes-chi/"><i class="fab fa-linkedin fa-lg"></i></a>
  </li>
  <li> <%= link_to "Projects", "/" %></li>
 
  <li><%= link_to "About", home_about_path %></li>
  
</ul>
</nav>