<main>
<section class="hero">
  <h1>
    I'm a <span>software engineer</span> and problem solver in Chicago,
    Illinois.
  </h1>
  <p>
    I love building things and finding efficient solutions in the process.
    I'm cool under pressure and can prioritize to meet goals on deadline.
  </p>
  <a
    href="mailto:ericreyes@gmail.com"
    target="_blank"
    rel="noopener noreferrer"
    ><button>Contact me</button></a
  >
</section>
<section id="projects">
  <h1>My Projects</h1>
 
</section>
</main>