<main>
<section class="hero">
  <h1>
    I'm a <span>software devloper</span> and former editor/designer in Chicago,
    Illinois.
  </h1>
  <p>
    I work on an agile environment as an associate software engineer at Vizient. 
  </p>
  <a
    href="mailto:ericreyes@gmail.com"
    target="_blank"
    rel="noopener noreferrer"
    ><button>Contact me</button></a
  >
</section>
<section id="projects" class="hidden">
  <h1>My Projects</h1>
  <div class="flex-container" >
  <% @projects.each do |project| %>
    <%= render project %>
  
  <% end %>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">
          Top
        </button>
</section>
</main>