<main>
<section id="past">
<h1>My journalism career</h1>
<div >
<p>Until late 2021, I was an award-winning Chicago-based communications professional with more than two decades in the media industry as a reporter, editor and visual journalist.</p>
<p>I closed my career as a senior editor at Tribune Publishing's Design and Production Studio where I managed a five-person team and designed front pages for the Chicago Tribune, Baltimore Sun, Orlando Sentinel and South Florida Sun Sentinel.</p>
</div>
<div> 


</div>


</section>
</main>