
<div id="<%= dom_id sitelink %>">
  
  <p>
    <strong>Project id:</strong>
    <%= sitelink.project_id %>
  </p>
  <p>
    <a href="<%= sitelink.url %>"> 
    <%= sitelink.name %></a>
  </p>
  

</div>

